/*Estilos Portfolio*/

main{

    .wrapper{
        width: 100%;
        background-color: nth($list: $colors, $n:1);
        color: #fff;}
    

    .portfolio{

            .portfolio-heading{
                width: 100%;
                padding: 2rem;
                @include flex (column,center);

                h2{
                    font-size: 2.5em;
                    color: #fff;
                    margin-left: 8px;
                    margin-top: 50px;
                }
            }

            .divider{
                height: 4px;
                width: 70px;
                background-color:nth($list: $colors, $n:4 );
                margin-top: 3px;
                margin-bottom: 2em;
                margin-left: 8px;
            }

            .title-cards{  width: 100%;
                max-width: 1080px;
                margin: auto;
                padding: 0px;
                margin-top: 20px;
                text-align: center;
                color: #fafafa;
                margin-bottom: 200px;
                margin-top: -10px;
                font-size:large;

            }

            .container-card{
                width: 100%;
                margin: auto;
                display: grid;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                .video-youtube{

                    .card{  border-radius: 6px;
                        overflow: hidden;
                        background: #12131a;
                        box-shadow: 0 10px 12px rgba(5, 210, 242, 0.2);
                        transition: all 400ms ease-out;
                        cursor: default;
                        margin-bottom: 100px;
                        margin-top: -50px;

                        &:hover{
                            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                            transform: translateY(-3%);
                        }

                        

                        .contenido-card{   
                            padding: 15px;
                            text-align: center;

                            h3{ margin-bottom: 15px;
                                color: #f4f2f2;}

                                p{color: #fafafa;}
                            
                            .button-content{ 
                                display: inline-block;
                                margin-top: 10px;
                                text-decoration: none;
                                justify-content: center;
                                color: #020202;
                                padding: 10px 20px;
                                background-color: aqua;
                                border: none;
                                border-radius: 20px;
                                cursor: $cursor-principal;
                                -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
                                -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
                                box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
                            
                                &:hover{ 
                                    background-color: nth($list: $colors, $n:3 );
                                    box-shadow: none;
                                        }
                                    
                                }
                            }
                        }
                    }
                }
            }
    }

