/*Estilos Footer*/

.footer{
    @include flex (column,center);
    align-items: center;
    
    background-color: nth($list: $colors, $n:4 );

        .row{
                .sotial-networks{
                

                    ul{
                        li{ 
                            width: 20px;
                            margin-top: 1em;
                            list-style: none;
                            margin-left: 10px;
                            @include flex (column,center);
                            display: inline-block;
                            
                        }
                    }
                }

                .fixed{
                    position: fixed;
                    width: 100px;
                    bottom: 20px;
                    right: 20px;

                    
                    a{
                        img{
                            width: 50px;
                            right: 150px;
                        }
                    }

                }

        }

}

